.hero {
  position: relative;
}

.wrapper strong {
  display: block;
  cursor: pointer;
}

.hero-hover-image {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-100%);
  width: 320px;
  pointer-events: none;
}

.hero-hover-image img {
  width: 100%;
  border-radius: 8px;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}